body {
 background-color: #1F1F1F;
 color: whitesmoke;
 font-family: "Source Code Pro", monospace;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 margin: 0;
 padding: 0;
 display: flex;
flex-direction: column;
}
/*scroll*/
#about, #experience, #skills, #projects, #connect{
scroll-margin-top: 130px;
}
/*Navbar under to hold space*/
.navbar-under {
    display: flex;
    justify-content: space-between;
    min-width: 90%;
    padding: 2% 5% 2% 5%;
    align-items: center;
    text-transform: uppercase;
    background-color: #1F1F1F;
}
.navbar-under .left {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -1.75px;
    color: #C183BC;
}
.navbar-under .left span {
    font-size: .75rem;
}
.navbar-under .right {
display: flex;
justify-content: space-between;
margin-left: auto;
} 

.navbar-under a {
    text-decoration: none;
    color: #C183BC;
    padding: .5em 1em;
    border-right: 2px solid #3f3f3f;
}
.navbar-under .right a:hover {
    padding-bottom: .625em;
    border-bottom: 2.5px solid #C183BC;
 }
 
/*Navbar
note- only works with fixed with, max-width doesn't work 
*/

.navbar {
    display: flex;
    justify-content: space-between;
    min-width: 90%;
    padding: 2% 5% 2% 5%;
    align-items: center;
    text-transform: uppercase;
    background-color: #1F1F1F;
    position: fixed;
    top: 0;
    z-index: 2;
}
.navbar .left {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -1.75px;
    color: #C183BC;
}
.navbar .left span {
    font-size: .75rem;
}
.navbar .right {
display: flex;
justify-content: space-between;
margin-left: auto;
} 

.navbar a {
    text-decoration: none;
    color: #C183BC;
    padding: .5em 1em;
    border-right: 2px solid #3f3f3f;
}

.navbar .right a:hover {
   padding-bottom: .625em;
   border-bottom: 2.5px solid #C183BC;
}

/*Main content wrapper*/

.all-content-wrapper {
    max-width: 90%;
    padding: 0 3% 0 3%;
    margin: 0 auto;
}

.flex-content-container {
    display: flex;
}
/*left icons*/

.left-icons {
    max-width: 3%;  
    border: 2px solid #3f3f3f;
    display: flex;
    justify-content: center;
}
.left-images {
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.left-images img{
    width: 2rem;
    height: 2rem;
    fill: white;
    padding-bottom: 3rem;
    
}

/*middle sidebar*/
.middle-sidebar{
max-width: 20%;
justify-content: flex-start;
border: 2px solid;
border-color: #3f3f3f;
padding-top: 1rem;
}

h6 {
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 0 0 .625em 0;
    font-size: 15px;
}

h4 {
max-width: 100%;
}

.gray {
    background-color: #37373d;
    margin:0;
    width: 100%;
}

/*main content- RIGHT*/
h4 {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.tab-html{
  max-width: 20%;
}

.main-content{
max-width: 100%;
border: 2px solid #3f3f3f;
}
.main-content-wrapper{
max-width: 100%;
max-height: 100%;
background-color: #37373d;
padding: 0 2em 0 2em;
}

.title {
    display: flex;
}
.headshot {
    width: 10rem;
    border-radius: 10% 20% 50% 70%;
}
h1 {
    font-size: 1.7rem;
    padding-left: 1em;
}

/*About*/
.quote{
    font-size: 1.125rem;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 2.5em;
    line-height: 1.45;
    position: relative;
}
.quote:before {
    display: block;
    padding-left: .625em;
    content: "\201C";
    font-size: 5rem;
    position: absolute;
    left: -3.5rem;
    top: -2.5rem;
    color: #fefefe;
}

.about {
    max-width: 80%;
}

/*Experience and Education Grids*/

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    padding: 0px;
    max-width: 80%;
  }
  .job {
    display: grid;
    grid-template-columns: auto 1fr; 
    border-bottom: 3px solid #ccc;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    display: flex;
  }
  .title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: .3125rem;
}
.business {
    font-size: 1rem;
    font-weight: 300;
}
.job-dates {
    font-weight: bold;
  }
.new-grid-container {
display: grid;
grid-template: repeat(5/3.125rem)/(2fr 1fr);
grid-gap: 1em;
grid-auto-flow: row;
grid-auto-rows: 12.5rem;
}

.position {
    border-bottom: 2px solid white;
    padding: 1rem 0px 1rem 0px;
    max-width: 50%;
}
  .degree-descript {
    margin-left: 1em;
  }

/*icons flex*/

.container-icons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 6.875em;
    grid-gap: 1rem;
    
}
.container-icons > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-icons > div > img {
width: 6.25em;
}
#skills li {
    padding-bottom: .8rem;
}

/*Footer*/
ul { list-style: none;}

.links li {
    display: inline-block;
}

.links img {
    width: 2rem;
    height: 2rem;
}

.footer {
    padding: 4rem;
    text-align: center;
    justify-content: space-around;
}

.footer img {
    width: 1em;
    height: 1em;
}

footer {
 display: flex;
 justify-content: center;
 padding: 2rem 0 2rem 0; 
}

/*Colors*/

.background {
    color: #1F1F1F;
}
.salmon {
    color: #eeb28f;
}
.gold {
    color:#FDD10D;
}
.blue {
    color: #569CD6;
}
.violet {
    color: #C183BC;
}
.blue-light {
    color: #a3d0f6;
}


/*RESPONSIVE*/

@media only screen and (max-width: 1248px) {
    body{
        background-color: orange;
      }
      .container-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 5em 5em;
        grid-gap: 1em;
    }
    .container-icons > div > img {
        width: 5em;
        }
}
@media only screen and (max-width: 856px) {
    body{
      background-color: purple;
      margin: 0;
      padding: 0;
    }
    /*NAVBAR*/
    .navbar{
        flex-direction: column;
        display: none;
      }
    .navbar .left {
        text-align: center;
      }
    .navbar .right {
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: .8rem;
      }
    .navbar .right a {
        margin: 0;
        padding: 4px 0;
        border: 0;
        color: #a3d0f6;
      }
    .navbar .right a:hover {
        padding-bottom: 1px;
        border-bottom: 2.5px solid #a3d0f6;;
     }
     /*Unseen Navbar placeholder*/
     .navbar-under {
        flex-direction: column;
        max-width: 100%;
      }
      .navbar-under .left {
        text-align: center;
      }
      .navbar-under .right {
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: .8rem;
      }
    .navbar-under .right a {
        margin: 0;
        padding: 4px 0;
        border: 0;
        color: #a3d0f6;
      }
      .navbar-under .right a:hover {
        padding-bottom: 1px;
        border-bottom: 2.5px solid #a3d0f6;;
     }

     /*MAIN*/
     .main-content-wrapper {
        padding: 1em;
        margin: 0 auto;
     }
     .all-content-wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
    .tab-html {
        display: none;
    }
 
    .flex-content-container {
        flex-direction: column;
    }
    .left-icons {
        display: none;
    }
    .middle-sidebar {
        display: none;
    }
    .title {
        flex-direction: column
    }
    h1 {
       display: none;
    }
    /*About and photo*/
    .hero-image {
        float: left;
        padding: 1em;
    }
    .about {
        max-width: 100%;
    }
    .quote {
        padding: 0;
    }
    .quote:before {
        display: none;
    }
    /*Grid for Experience*/
    .grid-container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        max-width: 100%;
      }
      .job {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .job-dates {
        margin-bottom: 1em;
      }
      /*Grid for Education*/
      .education .grid-container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        max-width: 100%;
      }
      .education .job {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
      }
      .education .job-dates {
        margin-bottom: 1em;
      }

   /*Icons*/
   .container-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5em 5em 5em;
    grid-gap: 1em;
}
.container-icons > div > img {
    width: 4em;
    }
    }
  @media only screen and (max-width: 320px) {
    body{
        background-color: pink;
        margin: 0 auto;
        padding: 0;
        width: 100vw;
      }
    
      .main-content-wrapper {
        min-width: 100%;
        margin: 0;
     }
     .all-content-wrapper {
        min-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .flex-content-container {}
}
